<div class="general-layout fixed-footer-included">

    <form (ngSubmit)="createCampaign()" [formGroup]="campaignForm">
        <div class="general-layout-top no-header">
            <a class="general-backto-btn btn" routerLink="/campaigns">
                <span class="streamline-icon streamline-icon-arrow-left-12"></span>
                <span class="general-backto-btn-text">{{ 'All campaigns' | translate }}</span>
            </a>
            <div class="general-layout-top-message">
                <h1 class="editable-title">
                    {{ 'Create' | translate }} &nbsp;
                    <input name="name"
                           formControlName="name"
                           type="text"/>
                </h1>

                <p *ngIf="campaignForm.controls.name.dirty && campaignForm.controls.name.errors" class="error-message"> <!-- campaignForm.controls.name.dirty && -->
                    {{ 'Please choose a campaign name' | translate }}
                </p>
            </div><!-- /.general-layout-top-message -->
        </div><!-- /general-layout-top -->

        <div class="create-campaign-wrapper">

            <div class="create-campaign-step">
                <div class="create-campaign-step-header">
                    <span class="create-campaign-step-number">1</span>
                    <h2>{{ 'What type of campaign would you like to create ?' | translate }}</h2>
                </div><!-- /.create-campaign-step-header -->

                <div class="create-campaign-step-content clearfix">

                    <div *ngFor="let category of categories" class="create-campaign-options-box">
                        <h3>{{ category.label | translate }}</h3>

                        <p>{{ category.description | translate }}</p>

                        <div *ngFor="let type of category.types | keyValue" class="create-campaign-option">
                            <label class="create-campaign-option-content">
                                <input name="kind" formControlName="kind" type="radio" value="{{ type.key }}" (click)="scroll2();"/>
                                <span class="create-content-option-text">{{ type.value | translate }}</span>
                            </label><!-- /.create-campaign-option-content -->
                        </div><!-- /.create-campaign-option -->
                    </div><!-- /.create-campaign-options-box -->

                </div><!-- /.create-campaign-step-content -->
            </div><!-- /.create-campaign-step -->

            <div class="create-campaign-step full-text">
                <div class="create-campaign-step-header">
                    <span class="create-campaign-step-number">2</span>
                    <h2>{{ 'What is the goal of your campaign?' | translate }}</h2>
                </div><!-- /.create-campaign-step-header -->

                <div class="create-campaign-step-content">
                <textarea name="instructions"
                          formControlName="instructions"
                          class="create-campaign-step-full-text"
                          placeholder="{{ 'Type goals, objectives as a reminder for the callers...' | translate }}">
                </textarea>
                </div><!-- /.create-campaign-step-content -->

                <p *ngIf="campaignForm.controls.instructions.dirty && campaignForm.controls.instructions.errors" class="error-message">
                    {{ 'Please describe the campaign objective in minimum 5 characters.' | translate }}
                </p>
            </div><!-- /.create-campaign-step -->

        </div><!-- /.create-campaign-wrapper -->
        <div class="fixed-footer-bar">
            <button type="submit"
                    [ngClass]="{'fixed-footer-bar-button': true, 'enabled': campaignForm.valid}"
                    [disabled]="!campaignForm.valid">
                <span class="fixed-footer-bar-button-text">
                    {{ 'Create your campaign' | translate }}
                </span>
                <span class="streamline-icon streamline-icon-arrow-right-12"></span>
            </button><!-- /.fixed-footer-bar-button -->
        </div>
    </form>
</div><!-- /.general-layout -->
