<div class="data-boxes-wrapper create-campaign-boxes clearfix">

    <div [ngClass]="{'data-box': true, 'filled-data-box': scriptsCompleted}">
        <span *ngIf="scriptsCompleted" class="data-box-status checked"></span>
        <span *ngIf="!scriptsCompleted" class="data-box-status unchecked"></span>

        <h3 class="data-box-title">{{ 'Script / Instructions' | translate }}</h3>

        <div *ngIf="!scriptsCompleted">
            <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
            <p>{{ 'Write a winning script for your Upcallers to deliver.' | translate }}</p>

            <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'scripts']"
               class="btn primary-button">
                {{ 'Start now' | translate }}
            </a>
        </div>

        <div *ngIf="scriptsCompleted">
            <p>{{ 'Questions' | translate }}</p>
            <div class="selected-data-container">
                <span class="data">{{campaign.numberOfQuestions}}</span>
                <span class="streamline-icon streamline-icon-bubble-chat-exclamation-2"></span>
            </div><!-- /.selected-data-container -->
            <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'scripts']"
               class="btn primary-button">
                {{ 'Edit questions' | translate }}
            </a>

        </div>
    </div>

    <div [ngClass]="{'data-box': true, 'filled-data-box': contactsCompleted}">
        <span *ngIf="contactsCompleted" class="data-box-status checked"></span>
        <span *ngIf="!contactsCompleted" class="data-box-status unchecked"></span>

        <h3 class="data-box-title">{{ 'Contacts' | translate }}</h3>

        <div *ngIf="!contactsCompleted">
            <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
            <p>{{ 'Use your contact list or create a brand new one to get the word.' | translate }}</p>

            <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'contacts', 'import']"
               class="btn primary-button">
                {{ 'Start now' | translate }}
            </a>
        </div>

        <div *ngIf="contactsCompleted">
            <p>{{ 'Phone numbers' | translate }}</p>
            <div class="selected-data-container">
                <span class="data">{{campaign.numberOfContacts}}</span>
                <span class="streamline-icon streamline-icon-person-2"></span>
            </div><!-- /.selected-data-container -->
            <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'contact-list']"
               class="btn primary-button">
                {{ 'Edit contacts' | translate }}
            </a>
        </div>
    </div>

	  <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'caller-id']">
        <div [ngClass]="{'data-box': true, 'filled-data-box': callerIdCompleted}">
            <span *ngIf="callerIdCompleted" class="data-box-status checked"></span>
            <span *ngIf="!callerIdCompleted" class="data-box-status unchecked"></span>

            <h3 class="data-box-title">{{ 'Caller ID' | translate }}</h3>

            <div *ngIf="!callerIdCompleted">
                <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
                <p>{{ 'Choose what number displays when your clients hear from you.' | translate }}</p>

                <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'caller-id']"
                   class="btn primary-button">
                    {{ 'Start now' | translate }}
                </a>
            </div>

            <div *ngIf="callerIdCompleted">
                <p>{{ 'Outbound phone number' | translate }}</p>
                <div class="selected-data-container phone-number">
                    <span class="data">{{campaign?.callerId?.phoneNumber}}</span>
                    <span class="streamline-icon streamline-icon-phone-circle"></span>
                </div><!-- /.selected-data-container -->
                <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'express', 'caller-id']"
                   class="btn primary-button">
                    {{ 'Edit caller ID' | translate }}
                </a>
            </div>
        </div>
    </a>

    <help-tips [tips]="campaignTips"></help-tips>

</div><!-- /.data-boxes-wrapper -->
