<header-app></header-app>

<div class="general-layout-top alternative">
	<div class="general-layout-top-message alternative-top-title">
		<h1>{{ campaign.name }}</h1>
		<span class="date">{{ 'Started on' | translate }} 10/02/2016</span>
	</div>
	<!-- /.general-layout-top-message -->
	<div class="general-layout-top-controls">
		<div class="top-controls-select">
			<!--(change)="onStatusChange($event.target.value)"-->
			<select class="top-control-select"  upcall-select2 (upcallSelect2Change)="onStatusChange($event.target.value)" >
				<option value="run" [selected]="campaign.status=='ready'?true:false">{{ 'Running' | translate }}</option>
				<option value="pause" [selected]="campaign.status=='paused'?true:false">{{ 'Paused' | translate }}</option>
			</select>
		</div>
		<!-- /.top-controls-select -->

		<div class="top-controls-select">
			<!--(change)="onExportChange($event.target.value)"-->
			<select class="top-control-select2"  upcall-select2 (upcallSelect2Change)="onExportChange($event.target.value)">
				<option>{{ 'Export' | translate }}</option>
				<option>CSV</option>
			</select>
		</div>
		<!-- /.top-controls-select -->
	</div>
	<!-- /.general-layout-top-controls -->

	<div class="general-layout-top-nav">
		<ul>
			<li class="one" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a [routerLink]="['/campaigns/', campaign.id]">{{ 'Dashboard' | translate }}</a>
			</li>
			<li class="two" routerLinkActive="active">
				<a [routerLink]="['/campaigns/', campaign.id, 'edit', 'contact-list']">{{ 'Contact List' | translate }}</a>
			</li>
			<li class="three" routerLinkActive="active">
				<a [routerLink]="['/campaigns/', campaign.id, 'edit', 'callers']">{{ 'Upcallers' | translate }}</a>
			</li>
			<li class="four" routerLinkActive='active'>
				<a [routerLink]="['/campaigns/', campaign.id, 'edit', 'settings']">{{ 'Settings' | translate }}</a>
			</li>
			<hr/>
		</ul>
	</div>
	<!-- /.general-layout-top-nav -->
</div>
<!-- /general-layout-top -->
