<div class="general-layout fixed-footer-included">
  <header-campaigner-account></header-campaigner-account>
  <div class="general-layout-content">
    <div class="account-layout">
      <div class="account-layout-header clearfix">
        <h2 class="account-layout-title">Company Account</h2>
      </div>
      <div class="row">
        TBD
      </div>
    </div><!-- /.create-campaign-general-layout -->

  </div>
</div>
