/* Variables */

$primary-color: #0B1726;
$secondary-color: #484F57;
$grey-color: #8E8E92;
$green-color: #7ED321;
$blue-color: #3E82F8;
$orange-color: #F99700;
$denied-color: #FF7B08;
$incomplete-color: #B3BAC7;
