<div class="header-wrapper">
  <div class="container">
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                    data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand"><img src="assets/images/upcall-logo.png" alt="UpCall"></a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li routerLinkActive='active'><a routerLink="/campaigns">{{ 'My campaigns' | translate }}</a></li>
              <!--
              <li routerLinkActive='active'>
                <a routerLink="/campaigner/account">
                  {{ 'My company' | translate}}
                </a>
              </li> -->
              <li><a href="https://upcall.freshdesk.com/" target="_blank">{{ 'Help center' | translate }}</a></li>
              <li><a routerLink="/communication-center">{{ 'Communication Center' | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li *ngIf="0"><a href="" class="streamline-icon streamline-icon-alarm"></a></li>
              <li class="user-profile">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                   class="dropdown-toggle">{{ loggedUser?.email }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li *ngIf="0"><a href="#">Action</a></li>
                  <li *ngIf="0"><a href="#">Another action</a></li>
                  <li *ngIf="0" class="divider" role="separator"></li>
                  <li *ngIf="0" class="dropdown-header">Nav header</li>
                  <li *ngIf="0"><a href="#">Separated link</a></li>
                  <li><a routerLink="/campaigner/account">{{ 'Account' | translate }}</a></li>
                  <li><a (click)="logOut()">{{ 'Log out' | translate }}</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav><!-- /.navbar -->
    </header><!-- /.header -->
  </div><!-- /.container -->
</div><!-- /.header-wrapper -->
