<header-app></header-app>

<div *ngIf="loadingFinished">
	<no-campaigns *ngIf="!(items.length)"></no-campaigns>

	<div *ngIf="items.length" class="general-layout">

		<div class="general-layout-top">
			<div class="general-layout-top-message">
				<h1>{{ 'You have %d Campaigns in your dashboard!' | translate : {params: [items?.length]} }}</h1>
			</div>
			<!-- /.general-layout-top-message -->
		</div>
		<!-- /general-layout-top -->

		<div class="general-filters-wrapper clearfix hidden">

			<div class="general-fiter-dropdowns-container">
				<div class="dropdown general-filter-dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
                    {{ 'All status' | translate }}
                    <span class="caret"></span>
                </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<!-- /.dropdown -->

				<div class="dropdown general-filter-dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
                    Order by
                    <span class="caret"></span>
                </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<!-- /.dropdown -->
			</div>
			<!-- /.general-filters-dropdowns-container -->

			<div class="general-filters-switch">
				<label class="general-filters-switch-label">{{ 'Show Archive' | translate}}</label>
				<div class="switch">
					<input type="radio" name="switch" id="switch-off">
					<input type="radio" name="switch" id="switch-on" checked="">
					<span class="toggle"></span>
				</div>
				<!-- end switch -->
			</div>
		</div>
		<!-- /.filters-wrapper -->

		<div class="data-boxes-wrapper clearfix">

			<a routerLink="/campaigns/create" class="data-box create-box">
				<div class="create-box-content">
					<div class="add-box-icon"><span class="streamline-icon streamline-icon-circle-plus"></span></div>
					<span class="add-box-text">{{ 'Create a Campaign' | translate}}</span>
				</div>
				<!-- /.create-box-content -->
			</a>

			<div *ngFor='let campaign of items' class="data-box">
				<div *ngIf="campaign.status != 'pending'" [ngClass]="campaign.status ? cssStatuses[campaign.status] + '-campaign': null">

					<h2 class="data-box-title">{{campaign.name}}</h2>
					<span class="data-box-date">{{ 'Created on' | translate}} {{campaign.startDate }}</span>

					<div class="data-box-indicator">
						<span class="percent">{{campaign.progress}}%</span>
						<span class="status">{{campaign.status | translate}}</span>
					</div>
					<!-- /.data-box-indicator -->

					<div progress="" max="100" class="progress">
						<div aria-valuemin="0" class="progress-bar" role="progressbar" style="min-width: 0;" [style.width]="campaign.progress + '%'">
							<span class="range"></span>
						</div>
					</div>

					<div class="data-box-bottom">
						<div class="data-box-bottom-item left">
							<span class="amount">{{campaign.goals}}</span>
							<span class="text">{{ 'Lead' | translate}}</span>
						</div>
						<div class="data-box-bottom-item right">
							<span class="amount">${{campaign.cost}}</span>
							<span class="text">{{ 'Budget Progress' | translate}}</span>
						</div>
					</div>
					<!-- /.data-box-bottom -->

					<div class="overlay">
						<div class="data-box-controls">
							<ul class="data-box-controls-list">
								<li class="data-box-controls-item hidden">
									<a href="#" class="streamline-icon streamline-icon-bring-to-front"></a>
								</li>
								<li class="data-box-controls-item">
									<a [routerLink]="['/campaigns/', campaign.id, 'edit', 'settings']" class="streamline-icon streamline-icon-cog"></a>
								</li>
							</ul>
						</div>
						<a [routerLink]="['/campaigns/', campaign.id]" class="data-box-overlay-button">{{'View Campaign' | translate}}</a>
					</div>
					<!-- /.overlay -->
				</div>
				<!-- /.data-box -->

				<div *ngIf="campaign.status == 'pending'" class="draft-box">
					<h2 class="data-box-title">{{campaign.name}}</h2>
					<span class="data-box-date">{{'Start date to define' | translate}}</span>

					<div class="data-box-draft-content">
						<span class="status">{{'Draft' | translate}}</span>
						<span class="text">{{'Almost ready!' | translate}}</span>
						<a [routerLink]="['/campaigns/', campaign.id, 'edit', 'express']" class="btn primary-button">
                        {{'Get it done' | translate}}
                    </a>
					</div>
					<!-- /.data-box-draft-content -->
				</div>
				<!-- /.data-box -->

			</div>
		</div>
	</div>
</div>
