<div
    bsModal #callNoteModal="bs-modal"
    class="modal fade"
    tabindex="-1" role="dialog"
    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content general-modal-wrapper">
      <div class="general-modal-header text-center">
        <img src="/assets/images/modal-notes-logo.png" alt="{{ 'General Notes' | translate }}">
        <p class="general-modal-title">
          {{ 'General Notes' | translate }}
        </p>
        <button (click)="modal.hide()" type="button"
                class="close streamline-icon streamline-icon-close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body general-modal-container modal-user-notes-container">
        {{ call?.note }}
      </div>
    </div>
  </div>
</div>
