<div class="data-boxes-wrapper create-campaign-boxes clearfix">

  <div [ngClass]="{'data-box': true, 'filled-data-box': scriptsCompleted}">
    <span *ngIf="scriptsCompleted" class="data-box-status checked"></span>
    <span *ngIf="!scriptsCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Script / Instructions' | translate }}</h3>

    <div *ngIf="!scriptsCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Write a winning script for your Upcallers to deliver.' | translate }}</p>

      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'scripts']" class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="scriptsCompleted">
      <p>{{ 'Questions' | translate }}</p>
      <div class="selected-data-container">
        <span class="data">{{campaign.numberOfQuestions}}</span>
        <span class="streamline-icon streamline-icon-bubble-chat-exclamation-2"></span>
      </div>
      <!-- /.selected-data-container -->
      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'scripts']" class="btn primary-button">
        {{ 'Edit questions' | translate }}
      </a>

    </div>
  </div>

  <div [ngClass]="{'data-box': true, 'filled-data-box': contactsCompleted}">
    <span *ngIf="contactsCompleted" class="data-box-status checked"></span>
    <span *ngIf="!contactsCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Contacts' | translate }}</h3>

    <div *ngIf="!contactsCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Use your contact list or create a brand new one to get the word.' | translate }}</p>

      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'contacts', 'import']"
         class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="contactsCompleted">
      <p>{{ 'Phone numbers' | translate }}</p>
      <div class="selected-data-container">
        <span class="data">{{campaign.numberOfContacts}}</span>
        <span class="streamline-icon streamline-icon-person-2"></span>
      </div>
      <!-- /.selected-data-container -->
      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'contact-list']"
         class="btn primary-button">
        {{ 'Edit contacts' | translate }}
      </a>
    </div>
  </div>
  
  <div [ngClass]="{'data-box': true, 'filled-data-box': callerIdCompleted}">
    <span *ngIf="callerIdCompleted" class="data-box-status checked"></span>
    <span *ngIf="!callerIdCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Caller ID' | translate }}</h3>

    <div *ngIf="!callerIdCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Choose what number displays when your clients hear from you.' | translate }}</p>

      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'caller-id']"
         class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="callerIdCompleted">
      <p>{{ 'Outbound phone number' | translate }}</p>
      <div class="selected-data-container phone-number">
        <span class="data">{{campaign?.callerId?.phoneNumber}}</span>
        <span class="streamline-icon streamline-icon-phone-circle"></span>
      </div>
      <!-- /.selected-data-container -->
      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'caller-id']"
         class="btn primary-button">
        {{ 'Edit caller ID' | translate }}
      </a>
    </div>
  </div>

  <div [ngClass]="{'data-box': true, 'filled-data-box': callersCompleted}" class="hidden">
    <span *ngIf="callersCompleted" class="data-box-status checked"></span>
    <span *ngIf="!callersCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Callers' | translate }}</h3>

    <div *ngIf="!callersCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Select your Upcaller level and location: Intermediate or Advanced, US-Based or International.' | translate }}</p>

      <a href="#" class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="callersCompleted">
      <p>{{ 'Category of Upcallers' | translate }}</p>
      <div class="selected-data-container">
        <span class="data"><span>$</span>17.50</span>
        <span class="streamline-icon streamline-icon-phone-call-2"></span>
      </div>
      <!-- /.selected-data-container -->
    </div>
  </div>

  <div [ngClass]="{'data-box': true, 'filled-data-box': budgetCompleted}">
    <span *ngIf="budgetCompleted" class="data-box-status checked"></span>
    <span *ngIf="!budgetCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Budget' | translate }}</h3>

    <div *ngIf="!budgetCompleted">
      <p>{{ 'Set your budget to match your needs: daily or weekly.' | translate }}</p>

      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'budget']"
         class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="budgetCompleted">
      <p>{{ budgetExpenseType[campaign.campaignBudget?.maxExpenseType] | translate }}</p>
      <div *ngIf="campaign.campaignBudget?.maxExpenseType == 'max_per_day' || campaign.campaignBudget?.maxExpenseType == 'max_per_week'"
           class="selected-data-container">
        <span class="data"><span>$</span>{{ campaign.campaignBudget?.maxExpense }}</span>
        <span class="streamline-icon streamline-icon-money-bag-euro"></span>
      </div>
      <!-- /.selected-data-container -->
      <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'budget']"
         class="btn primary-button">
        {{ 'Edit budget' | translate }}
      </a>
    </div>
  </div>

  <div [ngClass]="{'data-box': true, 'filled-data-box': timeCompleted}" class="hidden">
    <span *ngIf="timeCompleted" class="data-box-status checked"></span>
    <span *ngIf="!timeCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Time' | translate }}</h3>

    <div *ngIf="!timeCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Time description' | translate }}</p>

      <a href="#" class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="timeCompleted">
      <p>{{ 'Start date' | translate }}</p>
      <div class="selected-data-container date">
        <span class="data">01.12.16</span>
        <span class="streamline-icon streamline-icon-calendar-2"></span>
      </div>
      <!-- /.selected-data-container -->
      <p>MO - FRI</p>
      <div class="selected-data-container hours">
        <span class="data">09.00 - 20.00</span>
      </div>
      <!-- /.selected-data-container -->
    </div>
  </div>

  <div [ngClass]="{'data-box': true, 'filled-data-box': resourcesCompleted}" class="hidden">
    <span *ngIf="resourcesCompleted" class="data-box-status checked"></span>
    <span *ngIf="!resourcesCompleted" class="data-box-status unchecked"></span>

    <h3 class="data-box-title">{{ 'Resources' | translate }}</h3>

    <div *ngIf="!resourcesCompleted">
      <span class="data-box-info"><sup>*</sup>{{ 'required' | translate }}</span>
      <p>{{ 'Resources description' | translate }}</p>

      <a href="#" class="btn primary-button">
        {{ 'Start now' | translate }}
      </a>
    </div>

    <div *ngIf="resourcesCompleted">
      <p>{{ 'Links & files' | translate }}</p>
      <div class="selected-data-container half-width">
        <span class="data">24</span>
        <span class="streamline-icon streamline-icon-link-2"></span>
      </div>
      <!-- /.selected-data-container -->
    </div>
  </div>

  <help-tips [tips]="campaignTips"></help-tips>

</div>
<!-- /.data-boxes-wrapper -->
