<div bsModal
     class="modal fade modal-large"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
  <div class="modal-dialog errors-modal" role="document">
    <div class="modal-content general-modal-wrapper">
      <div class="general-modal-header text-center">
        <img class="import-errors-img" src="/assets/images/error-image.png"/>
        <button type="button" class="close streamline-icon streamline-icon-close" (click)="emitCallback($event)" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div class="general-modal-container errors-container">
        <ng-container *ngFor="let item of errors">
          <ng-container *ngFor="let phoneErrors of item | keyValue">
            {{ phoneErrors.key }}
            <ul *ngFor="let xlsColErrors of phoneErrors.value | keyValue">
              <li *ngFor="let error of xlsColErrors.value">
                {{ xlsColErrors.key | translate }} - {{ error | translate }}
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </div>

      <div class="button">
        <button (click)="emitCallback($event)" class="btn primary-button">{{ 'Ok' | translate }}</button>
      </div>
    </div>
  </div>
</div>