<div class="general-layout-content" >
  <div class="create-campaign-layout">
    <div class="create-campaign-layout-header clearfix advanced-contact-layout-header">
      <h2 class="create-campaign-layout-title">{{'Create Contact List' | translate}}</h2>
      <a (click)="close()" class="close-button">
        <span class="close-button-text">{{'Close' | translate}}</span>
        <span class="streamline-icon streamline-icon-close"></span>
      </a>
    </div>
    
    <div class="general-layout-secondary-nav">
        <ul class="general-layout-secondary-nav-list">
          <li class="general-layout-secondary-nav-item">
            <a [routerLink]="importLink">{{ 'Import' | translate }}</a>
          </li><!-- /.general-layout-secondary-nav-item -->
          <li class="general-layout-secondary-nav-item hidden">
            <a >{{ 'Search in database' | translate }}</a>
          </li>
          <!-- /.general-layout-secondary-nav-item -->
          <li class="general-layout-secondary-nav-item active">
            {{ 'CRM' | translate }}
          </li><!-- /.general-layout-secondary-nav-item -->
          <li class="general-layout-secondary-nav-item hidden">
            <a >{{ "My API's" | translate }}</a>
          </li>
          <!-- /.general-layout-secondary-nav-item -->
        </ul><!-- /.general-layout-secondary-nav-list -->
      </div><!-- /.general-layout-secondary-nav -->
    <div class="row">

      <form name="campaignContactsFroCrmForm">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
        <div class="create-campaign-layout-main create-contact-list clearfix">
          <div class="create-campaign-layout-select general-select-wrapper">
            <p class="advanced-contact-alt-title">
              {{'Gather information from a CRM' | translate}}
            </p>
            <p class="create-contact-list-info">{{'Click to see how gathering information from a CRM works' | translate}}<a> {{'How it works ?' | translate}}</a></p>
          </div><!-- /.create-campaign-layout-select -->
          <div class="col-md-12">
          <div class="row">

            <div class="create-contact-list-title">{{'Do not call identification' | translate}}</div>

            <div class="checkbox">
              <label class="create-contact-list-checkbox">
                <input type="checkbox" name="scrubForDoNotCall" [(ngModel)]="formValues.scrubForDoNotCall" >
                <span>{{'Scrub the contacts for compliance against the national “Do not call” list' | translate}}</span>
                <span class="streamline-icon streamline-icon-infomation-circle" [tooltip]="'contact import dnc disclaimer bubble' | translate"></span>
              </label>
            </div>

            <div class="apps-list-container">
              <div class="apps-list-container-header">
               <div class="app-list-container-switch-component">
                  <span class="text">{{'Will you use an API ?' | translate}}</span>
                  <div class="options-switch">
                    <label for="campaignAlwaysOpen-switch-off" class="switch-label">{{'NO' | translate}}</label>
                      <div class="switch" [style.background]="formValues.campaignAlwaysOpen ? '#1AA8C4' : '#91959A'" >
                        <input id="campaignAlwaysOpen-switch-on" type="radio" [checked]="formValues.campaignAlwaysOpen" (change)="setCampaignAlwaysOpen(true)">
                        <input id="campaignAlwaysOpen-switch-off" type="radio" [checked]="!formValues.campaignAlwaysOpen" (change)="setCampaignAlwaysOpen(false)" >
                        <span class="toggle"></span>
                      </div>
                    <label for="campaignAlwaysOpen-switch-on" class="switch-label">{{'YES' | translate}}</label>
                  </div><!-- /.options-switch -->
                </div><!-- /.app-list-container-switch-component -->
              </div>

              <div class="clearfix">
                <div *ngFor="let crmSource of crmSources; let crmSourceIndex = index;" class="app-box-wrapper" >
                  <a href="https://zapier.com/developer/invite/45409/6faa53b1734936c1cb87b36f7f9abafa/" target="_blank">
                    <div class="app-box">
                      <div class="app-image">
                        <img [src]="'assets/images/apps/'+crmSource.image">
                      </div><!-- /.app-image -->
                      <div class="app-name" title="{{crmSource.name}}">
                        {{crmSource.name}}
                      </div><!-- /.app-name -->
                    </div><!-- /.app-box -->
                  </a>
                </div>
              </div>

              <div class="apps-list-container-footer">
                <div class="text-center">
                  <p class="apps-list-container-message">... {{'and 100 more Apps to integrate !' | translate}}</p>
                </div>
                <div class="app-list-container-switch-component">
                  <span class="text">{{'Will you use an API ?' | translate}}</span>
                  <div class="options-switch">
                    <label for="campaignAlwaysOpen-switch-off-bottom" class="switch-label">{{'NO' | translate}}</label>
                      <div class="switch" [style.background]="formValues.campaignAlwaysOpen ? '#1AA8C4' : '#91959A'" >
                        <input id="campaignAlwaysOpen-switch-on-bottom" type="radio" [checked]="formValues.campaignAlwaysOpen" (change)="setCampaignAlwaysOpen(true)">
                        <input id="campaignAlwaysOpen-switch-off-bottom" type="radio" [checked]="!formValues.campaignAlwaysOpen" (change)="setCampaignAlwaysOpen(false)" >
                        <span class="toggle"></span>
                      </div>
                    <label for="campaignAlwaysOpen-switch-on-bottom" class="switch-label">{{'YES' | translate}}</label>
                  </div><!-- /.options-switch -->
                </div><!-- /.app-list-container-switch-component -->
              </div>
            </div><!-- /.apps-list-container -->
          </div>
        </div>
        </div><!-- /.create-campaign-layout-main -->
      </div>
      </form>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
        <div class="create-campaign-layout-sidebar">
          <h3>{{'Contact List' | translate}}</h3>
          <p>{{'Explanation about how gathering contact information from a CRM works' | translate}}</p>
        </div><!-- /.create-campaign-layout-sidebar -->
      </div>
    </div>
  </div><!-- /.create-campaign-general-layout -->
</div>

<div class="fixed-footer-bar">
  <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'advanced', 'contacts', 'import']"
     class="fixed-footer-bar-previous">
    <span class="streamline-icon streamline-icon-arrow-left-12"></span>
    <span class="fixed-footer-bar-button-text">{{ 'Import' | translate }}</span>
  </a>
  <a (click)="saveDataForCampaignForContactsFromCrm()" >
    <span class="fixed-footer-bar-text" >{{ 'Save &amp; Close' | translate }}</span>
  </a>
  <a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'settings', 'caller-id']" class="fixed-footer-bar-next">
    <span class="fixed-footer-bar-button-text">{{ 'Caller ID' | translate }}</span>
    <span class="streamline-icon streamline-icon-arrow-right-12"></span>
  </a>
  <!-- /.fixed-footer-bar-button -->
</div>
<!-- /.fixed-footer-bar -->
