<header-app></header-app>
<div class="general-layout-top">
  <div class="general-layout-top-message">
    <h1>{{'Account' | translate}}</h1>
  </div>
  <div class="general-layout-top-nav">
    <ul>
      <li class="one"
          routerLink="/campaigner/account"
          routerLinkActive="active"><a>{{ 'Account' | translate }}</a></li>
      <li class="two"
          routerLink="/campaigner/invoices"
          routerLinkActive="active"
      ><a>{{ 'Invoices' | translate }}</a></li>
      <hr>
    </ul>
  </div><!-- /.general-layout-top-nav -->
</div><!-- /.general-layout-top -->
