<div class="data-boxes-wrapper create-campaign-boxes clearfix">

	<a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'settings', 'scripts']">
		<div class="data-box filled-data-box">
			<h3 class="data-box-title">{{ 'Script / Instructions' | translate }}</h3>

			<p>{{ 'Questions' | translate }}</p>
			<div class="selected-data-container">
				<span class="data">{{ campaign.numberOfQuestions }}</span>
				<span class="streamline-icon streamline-icon-bubble-chat-exclamation-2"></span>
			</div>
			<!-- /.selected-data-container -->
		</div>
	</a>

	<a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'settings', 'contacts', 'import']">
		<div class="data-box filled-data-box">
			<h3 class="data-box-title">{{ 'Contacts' | translate }}</h3>

			<p>{{ 'Phone numbers' | translate }}</p>
			<div class="selected-data-container">
				<span class="data">{{ campaign.numberOfContacts }}</span>
				<span class="streamline-icon streamline-icon-person-2"></span>
			</div>
			<!-- /.selected-data-container -->
		</div>
	</a>

	<a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'callers']" class="hidden">
		<div class="data-box filled-data-box">
			<h3 class="data-box-title">{{ 'Callers' | translate }}</h3>

			<p>{{ 'Category of Upcallers' | translate }}</p>
			<div class="selected-data-container">
				<span class="data"><span>$</span>17.50</span>
				<span class="streamline-icon streamline-icon-phone-call-2"></span>
			</div>
			<!-- /.selected-data-container -->
		</div>
	</a>

	<a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'settings', 'budget']">
    <div class="data-box filled-data-box">
      <h3 class="data-box-title">{{ 'Budget' | translate }}</h3>

      <p>{{ budgetExpenseType[campaign.campaignBudget?.maxExpenseType] | translate }}</p>
      <div *ngIf="campaign.campaignBudget?.maxExpenseType == 'max_per_day' || campaign.campaignBudget?.maxExpenseType == 'max_per_week'"
           class="selected-data-container">
        <span class="data"><span>$</span>{{ campaign.campaignBudget?.maxExpense }}</span>
        <span class="streamline-icon streamline-icon-money-bag-euro"></span>
      </div>
      <!-- /.selected-data-container -->
    </div>
	</a>

	<div class="data-box filled-data-box hidden">
		<h3 class="data-box-title">{{ 'Time' | translate }}</h3>

		<p>{{ 'Start date' | translate }}</p>
		<div class="selected-data-container date">
			<span class="data">01.12.16</span>
			<span class="streamline-icon streamline-icon-calendar-2"></span>
		</div>
		<!-- /.selected-data-container -->

		<p>MO - FRI</p>
		<div class="selected-data-container hours">
			<span class="data">09.00 - 20.00</span>
		</div>
		<!-- /.selected-data-container -->
	</div>

	<div class="data-box filled-data-box hidden">
		<h3 class="data-box-title">{{ 'Resources' | translate }}</h3>

		<p>{{ 'Links & files' | translate }}</p>
		<div class="selected-data-container half-width">
			<span class="data">24</span>
			<span class="streamline-icon streamline-icon-link-2"></span>
		</div>
		<!-- /.selected-data-container -->
	</div>

	<a [routerLink]="['/campaigns/', campaign?.id, 'edit', 'settings', 'caller-id']">
		<div class="data-box filled-data-box">
			<h3 class="data-box-title">{{ 'Caller ID' | translate }}</h3>

			<p>{{ 'Outbound phone number' | translate }}</p>
			<div class="selected-data-container phone-number">
				<span class="data">{{campaign?.callerId?.phoneNumber}}</span>
				<span class="streamline-icon streamline-icon-phone-circle"></span>
			</div>
			<!-- /.selected-data-container -->
		</div>
	</a>

	<div class="data-box filled-data-box hidden">
		<h3 class="data-box-title">{{ 'Call Outcome' | translate }}</h3>
	</div>
	<!-- /.data-box -->

</div>
<!-- /.data-boxes-wrapper -->
