<modal-call-note #callNoteModal></modal-call-note>

<div class="general-layout-content">

  <div class="general-primary-tab-container">
    <contact-info-header
        (chgOpenTab)="setOpenTab($event)"
        [openTab]="openTab"
    >
    </contact-info-header>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="messages">
        <div class="table-wrapper table-responsive">
          <table class="table table-hover standard-table primary-table">
            <thead>
            <tr>
              <th>{{'Tries' | translate}}
                <span *ngIf="0" class="caret"></span>
              </th>
              <th class="custom-width-column">
                {{'Outcome' | translate}}
                <span *ngIf="0" class="caret"></span>
              </th>
              <th>
                {{'Caller' | translate}}
                <span *ngIf="0" class="caret"></span>
              </th>
              <th>{{'Answer' | translate}}</th>
              <th></th>
              <th>
                {{'Rating' | translate}}
                <span *ngIf="0" class="caret"></span>
              </th>
              <th>
                {{'Duration' | translate}}
                <span *ngIf="0" class="caret"></span>
              </th>
              <th>{{'Total Cost' | translate}}</th>
            </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let call of calls">
              <tr>

                <td>
                  <p>
                    <span class="contact-user-follow-up-date">{{ call.calledAt | date: 'dd/MM/yyyy'}} </span>
                    {{ 'at' | translate }}
                    <span
                        class="contact-user-follow-up-call-back">
                      {{ call.calledAt | date: 'h a'}}
                    </span>
                  </p>
                </td>
                <td class="call-status-button"
                    [ngClass]="statuses[call.status]?.class">
                  <button
                      [title]="statuses[call.status]?.label | translate"
                      type="button" class="btn btn-default btn-table">
                    {{ statuses[call.status]?.label | translate }}
                  </button>
                  <a
                      *ngIf="call.note"
                      (click)="call.note && callNoteModal.show(call)"
                      class="table-streamline-icons"><span
                      class="streamline-icon streamline-icon-file-2 notes-icon"></span></a>
                </td>
                <td>
                  <div class="table-caller-avatar-wrapper">
                    <a style="display: block" class="table-caller-avatar"
                       [routerLink]="['/campaigns/', contact.campaignId, 'edit', 'callers', call.caller.id]"
                    >
                      <img [src]="call.caller.picture && call.caller.picture.imageUrlThumb ? call.caller.picture.imageUrlThumb : ''"
                           src-fallback="/assets/images/avatar-no.jpg"
                           [title]="call.caller.picture ? call.caller.about : ''"
                           alt="" />
                    </a>
                    <span *ngIf="0" class="caller-avatar-status caller-avatar-status-online"></span>
                  </div>
                </td>

                <td>
                  <a
                      *ngIf="call.status == 'completed'"
                      (click)="setOpenTab(tabs.CONV_OUTCOME)"
                      class="table-streamline-icons icon-text">
                    <span class="streamline-icon streamline-icon-text-2"></span>
                  </a>
                  <a *ngIf="false" class="table-streamline-icons icon-text-letter">
                    <span class="streamline-icon streamline-icon-text"></span>
                  </a>
                </td>
                <td class="text-center">
                  <audio controls preload="none"
                         *ngIf="call.lastCallRecordingUrl"
                         title="{{'Conversation Player' | translate }}"
                         [src]="call.lastCallRecordingUrl">
                  </audio>
                </td>
                <td>
                  <rating *ngIf="call.rating" [(ngModel)]="call.rating.rate" readonly="true"></rating>
                </td>
                <td>
                  <p class="call-duration">
                    {{ moment.utc(call.duration * 1000).format('mm:ss') }}
                  </p>
                </td>
                <td>
                  <a class="pop-test" *ngIf="call.campaignerCost"
                     [tooltip]="'call_history_total_cost_ttip' | translate">
                    {{ call.campaignerCost }}
                    <span class="streamline-icon" [tooltip]="'contact call history cost bubble' | translate"></span>
                  </a>
                  <span
                      *ngIf="!call.campaignerCost">0</span>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div> <!-- table-wrapper -->
      </div> <!-- /tabpannel -->
    </div> <!-- tab content -->
  </div> <!-- general primary container -->
</div>

