<div class="website-wrapper">

  <div class="loading-container">
    <span>{{ 'Loading...' | translate }}</span>
    <img src="assets/images/loader2.gif"/>
  </div>

  <router-outlet></router-outlet>
</div>

<communication-center-overlay></communication-center-overlay>
