<div class="data-box highlighted-data-box">
    <h3 class="data-box-title">{{ 'Help & tips' | translate }}</h3>
    <p>{{ currentTip | translate }}</p>
    <a class="link-button" (click)="showNext()">
        <span class="streamline-icon streamline-icon-arrow-right"></span>
    </a>
</div>
