<div class="general-layout-content">

  <div class="create-campaign-layout advanced-budget">
    <div class="create-campaign-layout-header clearfix">
      <h2 class="create-campaign-layout-title">{{ 'Manage Budget' | translate }}</h2>
      <a class="close-button" (click)="close()">
        <span class="close-button-text">{{ 'Close' | translate }}</span>
        <span class="streamline-icon streamline-icon-close"></span>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
        <div class="create-campaign-layout-main">
          <div class="row">
            <div class="col-md-12">
              <h3>{{ 'Control your finances and set a specific budget for your campaign and/or commission incentives for Upcallers' | translate }}</h3>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="extra-cost-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h4 class="budget-pack-title">{{ 'Maximum budget per week' | translate }}</h4>
                  <div class="extra-cost-list">
                    <div class="extra-cost-list-item">
                      <label class="extra-cost-list-label">
                        <input type="radio" [(ngModel)]="campaign.campaignBudget.maxExpenseType" value="no_limit"/>
                        <span>{{ 'No limit' | translate }}</span>
                      </label>
                    </div><!-- /.extra-cost-list-item -->
                    <div class="extra-cost-list-item">
                      <label class="extra-cost-list-label">
                        <input type="radio" [(ngModel)]="campaign.campaignBudget.maxExpenseType" value="max_per_week"/>
                        <span>{{ 'Max. per week' | translate }}</span>
                      </label>
                      <div *ngIf="campaign.campaignBudget.maxExpenseType === 'max_per_week'" class="extra-cost-input">
                        <span class="streamline-icon streamline-icon-dollar-sign"></span>
                        <input type="text" [(ngModel)]="campaign.campaignBudget.maxExpense"/>
                        <span class="extra-cost-input-info">{{ 'Min $50 per week' | translate }}</span>
                      </div>
                    </div><!-- /.extra-cost-list-item -->
                    <div class="extra-cost-list-item">
                      <label class="extra-cost-list-label">
                        <input type="radio" [(ngModel)]="campaign.campaignBudget.maxExpenseType" value="max_per_day"/>
                        <span>{{ 'Max. per day' | translate }}</span>
                      </label>
                      <div *ngIf="campaign.campaignBudget.maxExpenseType === 'max_per_day'" class="extra-cost-input">
                        <span class="streamline-icon streamline-icon-dollar-sign"></span>
                        <input type="text" [(ngModel)]="campaign.campaignBudget.maxExpense"/>
                        <span class="extra-cost-input-info">{{ 'Min. $10 per day' | translate }}</span>
                      </div>
                    </div><!-- /.extra-cost-list-item -->
                  </div><!-- /.extra-cost-list -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h4 class="budget-pack-title">{{ 'Commissions' | translate }}</h4>
                  <div class="extra-cost-list">
                    <div class="extra-cost-list-item">
                      <label class="extra-cost-list-label">
                        <input type="checkbox"
                               [(ngModel)]="acceptCommission"/>
                        <span>{{ 'Commission per goal achieved' | translate }}</span>
                      </label>
                      <span class="streamline-icon streamline-icon-infomation-circle" [tooltip]="'commission goal bubble' | translate"></span>
                    </div><!-- /.extra-cost-list-item -->
                    <div *ngIf="acceptCommission" class="extra-cost-input">
                      <span class="streamline-icon streamline-icon-dollar-sign"></span>
                      <input type="text" [(ngModel)]="campaign.campaignBudget.commission"/>
                    </div>
                  </div><!-- /.extra-cost-list -->
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.create-campaign-layout-main -->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
        <div class="create-campaign-layout-sidebar">
          <h3>{{ 'Budget' | translate }}</h3>
          <p>{{ 'We screen for the cream of the crop. All of our US-based, advanced Upcallers accepted are in the top 6% of performers.' | translate }}</p>
        </div><!-- /.create-campaign-layout-sidebar -->
      </div>
    </div>
  </div><!-- /.create-campaign-general-layout -->

</div><!-- /.general-layout-content -->

<div class="fixed-footer-bar">
  <!-- <a class="fixed-footer-bar-previous">
    <span class="streamline-icon streamline-icon-arrow-left-12"></span>
    <span class="fixed-footer-bar-button-text">{{ 'Previous section' | translate }}</span>
  </a> -->
  <a (click)="save()"><span class="fixed-footer-bar-text">{{ 'Save &amp; Close' | translate }}</span></a>
  <!--
  <a href="#" class="fixed-footer-bar-next">
    <span class="fixed-footer-bar-button-text">{{ 'Next section' | translate }}</span>
    <span class="streamline-icon streamline-icon-arrow-right-12"></span>
  </a>-->
</div><!-- /.fixed-footer-bar -->