
/* Up Call Fonts */

@font-face {
    font-family: 'Avenir-UltraLight';
    src: url('fonts/AvenirNextLTPro-UltLtCn.eot');
    src: url('fonts/AvenirNextLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-UltLtCn.woff') format('woff'),
         url('fonts/AvenirNextLTPro-UltLtCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('fonts/AvenirNextLTPro-Cn.eot');
    src: url('fonts/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-Cn.woff') format('woff'),
         url('fonts/AvenirNextLTPro-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Italic';
    src: url('fonts/AvenirNextLTPro-It.eot');
    src: url('fonts/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-It.woff') format('woff'),
         url('fonts/AvenirNextLTPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url('fonts/AvenirNextLTPro-Regular.eot');
    src: url('fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-Regular.woff') format('woff'),
         url('fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('fonts/AvenirNextLTPro-MediumCn.eot');
    src: url('fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-MediumCn.woff') format('woff'),
         url('fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('fonts/AvenirNextLTPro-Bold.eot');
    src: url('fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNextLTPro-Bold.woff') format('woff'),
         url('fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}