
.customField input {
  width: 49%;
  float: left;
}

.create-campaign-select-container select[name="kind"] {
  min-width: 400px;
  max-width: 420px;
  font-size: 16px;
  color: #b3bac7;
  line-height: 28px;
  background: transparent;
  border: none;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.create-campaign-select-container select[name="kind"] option, .simple-select option {
  color: black;
  background: #ffffff;
}

.simple-select, .simple-select option {
  max-width: 420px;
}

.primary-table tbody tr:hover {
  cursor: pointer;
}

.upcall-hidden {
  display: none !important;
}

.chat-attached-file-icon {
  font-size: 70px;
}

.channel-messages-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
}

.campaign-channels-loader {
  margin-left: 50px;
  margin-top: 25px;
}
.dirrect-messages-channels-loader {
  margin-left: 50px;
  margin-top: 25px;
}

.errors-modal .button {
  text-align: center;
  margin-top: 30px;
}

.errors-modal .general-modal-header {
  margin-bottom: 30px;
}

.errors-container {
  max-height: 450px;
}

.up-black-background .header-wrapper {
  background-color: #0B1726;
}

.color-red {
  color: red;
}

.form-control.caller-id-phone-dropdown {
  width: auto;
}

.input-disabled-like {
  background-color: #e7e7e7 !important;
}

.import-errors-img {
  margin-bottom: 20px;
}