<div bsModal #contactImportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content general-modal-wrapper">
      <div class="general-modal-header text-center">
        <h4>{{ 'Add a file' | translate }}</h4>
        <button type="button"
                class="close streamline-icon streamline-icon-close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="resetImport()">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <form (ngSubmit)="emitImport(form.value)" #form="ngForm">
        <div class="row">
          <div class="col-md-12">
            <p>
              {{ 'What would you like to do with your existing contacts? ' | translate }}
            </p>

            <div class="add-file-radio-options">
              <div class="modal-radio-item">
                <label (change)="checkSubmit()">
                  <input type="radio" name="contactAction" value="replace" [(ngModel)]="contactAction" required>
                  <span class="modal-radio-item-text">
                    {{ 'Replace' | translate }}
                    <span class="highlighted-extra-info">
                        {{ '(This removes all previous contact information)' | translate }}
                    </span>
                  </span>
                </label>
              </div><!-- /.modal-radio-item -->

              <div class="modal-radio-item">
                <label (change)="checkSubmit()">
                  <input type="radio" name="contactAction" value="merge" [(ngModel)]="contactAction" required>
                  <span class="modal-radio-item-text">
                    {{ 'Merge' | translate }}
                  </span>
                </label>
                <p class="highlighted-extra-info">
                  {{ '(This combines new contacts with previous ones) ?' | translate }}
                </p>
              </div><!-- /.modal-radio-item -->

              <div class="modal-radio-subsection">
                <div class="modal-radio-item">
                  <label (change)="checkSubmit()">
                    <input type="radio"
                           name="mergeType"
                           value="keep"
                           disabled
                           [disabled]="form.value.contactAction !== 'merge'"
                           [(ngModel)]="mergeType">
                    <span class="modal-radio-item-text">
                      {{ 'Keep old contacts' | translate }}
                    </span>
                  </label>
                </div>
                <div class="modal-radio-item">
                  <label (change)="checkSubmit()">
                    <input type="radio"
                           name="mergeType"
                           value="replace"
                           disabled
                           [disabled]="form.value.contactAction !== 'merge'"
                           [(ngModel)]="mergeType">
                    <span class="modal-radio-item-text">
                      {{ 'Replace with new files (This replaces with updated files that contain additional information)' | translate }}
                    </span>
                  </label>
                </div>
              </div><!-- /.modal-radio-item -->
            </div><!-- /.add-file-radio-options -->

            <div class="modal-action-button text-center">
              <button class="btn primary-button"
                      type="submit"
                      [disabled]="!enabled">
                {{ 'Import' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>