<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= webpackConfig.metadata.title %>
  </title>

  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
      <% } %>

        <!-- base url -->
        <base href="<%= webpackConfig.metadata.baseUrl %>">

        <style>
          .upcall-loader-back-full {
            width: 100%;
            height: 100%;
          }
          
          .upcall-first-loader {
            text-align: center;
            margin-top: 100px;
          }
        </style>

</head>

<body>

  <app>
    <div class="upcall-loader-back-full">
      <div class="upcall-first-loader">
        <img src="assets/images/loader1.gif">
      </div>
    </div>
  </app>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      { (i[r].q=i[r].q||[]).push(arguments)}
      ,i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73872643-1', 'auto');
  </script>

  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>

  <script src="https://checkout.stripe.com/checkout.js"></script>
</body>

</html>