<div class="general-layout fixed-footer-included">

	<campaign-pending-header *ngIf="campaign.status == 'pending'"
							[campaign]="campaign"
							[paid]="paid"
							(launch)="launchCampaign()"
							(save)="saveCampaign()"></campaign-pending-header>
							
	<campaign-not-pending-header *ngIf="campaign.status != 'pending'"
								[campaign]="campaign"></campaign-not-pending-header>

	<router-outlet></router-outlet>
</div>
<!-- /.general-layout -->