<div class="minified-user-information-container">
  <div class="general-primary-tab-container minified-tab-container clearfix">
    <div class="minified-tab-nav clearfix">
      <ul class="minified-tab-nav-list">
        <li class="minified-tab-nav-item">
          <a *ngIf="selectedCaller.status === 'approved'"
             [routerLink]="['/campaigns/', selectedCaller.campaignId, 'edit', 'callers', selectedCaller.id]"
             class="streamline-icon streamline-icon-person-2"></a>
          <a *ngIf="selectedCaller.status !== 'approved'" class="streamline-icon streamline-icon-person-2"></a>
        </li>
        <li class="minified-tab-nav-item">
          <a *ngIf="selectedCaller.status === 'approved'"
             [routerLink]="['/campaigns/', selectedCaller.campaignId, 'edit', 'callers', selectedCaller.id]"
             [queryParams]="{tab:'callHistory'}"
             class="streamline-icon streamline-icon-clock-2"></a>
        </li>
        <li class="minified-tab-nav-item">
          <a (click)="closeUserInfo()" class="streamline-icon streamline-icon-arrow-left-12"></a>
        </li>
      </ul>
      <!-- /.minified-tab-nav-list -->
    </div>
    <!-- /.minified-tab-nav -->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="col-12 contact-user-details">
          <div class="tab-content-column">
            <div class="table-caller-avatar-wrapper">
              <div class="table-caller-avatar">
                <img [src]="selectedCaller.caller.picture && selectedCaller.caller.picture.imageUrlThumb ? selectedCaller.caller.picture.imageUrlThumb : ''"
                     src-fallback="/assets/images/avatar-no.jpg"
                     alt="Caller Avatar">
              </div>
            </div>
            <div class="caller-user-name">
              <p class="contact-user-title">
                {{ selectedCaller.user.fullName }}
              </p>
              <span class="caller-user-info">Last call 1 hour ago</span>
            </div>
            <!-- /.caller-user-name -->
            <div *ngIf="selectedCaller.status === 'approved'" class="caller-user-name-controls">
              <a [routerLink]="['/communication-center', {channelId: chanelId}]"
                 class="btn custom-button">{{ 'Chat' | translate }}</a>
              <a class="contact-user-call-control" (click)="callerApproval('remove')">
                {{ 'Remove' | translate }}
              </a>
            </div>
            <!-- /.caller-user-name-controls -->

            <div *ngIf="selectedCaller.status !== 'approved'" class="caller-approval-status">
              <div class="general-select-wrapper">
                <select class="general-select-component form-control simple-select"
                        single="single"
                        (change)="callerApproval($event.target.value)">
                  <option value="">{{ 'To be approved' | translate }}</option>
                  <option *ngFor="let status of toBeApproved | keyValue" [value]="status.key">
                    {{ status.value | translate }}
                  </option>
                </select>
                <!-- /.general-select-component -->
              </div>
            </div>

            <div class="contact-user-rate-call top-margin">
              <p class="contact-user-follow-up-title form-label">
                {{ 'RATE THE CALLER' | translate }}
              </p>

              <rating [(ngModel)]="rating.rate" [readonly]="selectedCaller.status !== 'approved'"></rating>

              <textarea class="form-control" rows="5"
                        [(ngModel)]="rating.review"
                        [readonly]="selectedCaller.status !== 'approved'"></textarea>
            </div>
            <!-- /.contact-user-rate-call -->
            <div class="caller-tips-container">
              <p class="caller-tips-title form-label">
                {{ 'TIP THE CALLER' | translate }}
              </p>
              <div class="caller-tips">
                <span class="caller-tips-currency">$</span>

                <ng-container *ngIf="selectedCaller.status !== 'approved'">
                  <a *ngFor="let tip of tipsList" class="caller-tips-amount">{{ tip }}</a>
                </ng-container>

                <ng-container *ngIf="selectedCaller.status === 'approved'">
                  <a *ngFor="let tip of tipsList" (click)="rating.tip = tip" class="caller-tips-amount"
                     [ngClass]="{selected: rating.tip == tip}">{{ tip }}</a>
                </ng-container>

                <input class="other-tips" [(ngModel)]="rating.tip" type="number" name="other"
                       placeholder="{{ 'Other' | translate }}" [disabled]="selectedCaller.status !== 'approved'">
              </div>
              <div class="text-center top-margin">
                <button (click)="rateCaller()" class="btn primary-button minified-tip-button"
                        [disabled]="selectedCaller.status !== 'approved'">
                  {{ 'Submit' | translate }}
                </button>
              </div>
            </div>
            <!-- /.contact-user-details caller-tips-container -->

          </div>
        </div>
        <!-- /.tab-content-column -->
      </div>
      <!-- /tabpannel -->
      <div role="tabpanel" class="tab-pane" id="profile">
      </div>
      <!-- /tabpannel -->
      <div role="tabpanel" class="tab-pane" id="messages">
      </div>
      <!-- /tabpannel -->
    </div>
    <!-- tab content -->
  </div>
</div>

<caller-reject-modal
  (doReject)="rejectCaller($event.removalReason, $event.removalOtherReason, $event.action)"
  [action]="'reject'">
</caller-reject-modal>
