@import "../../../../../assets/scss/variables.scss";

.reason-select-container {
  padding: 0 25px;
  text-align: center;

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    margin: 0 0 35px 0;
    resize: none;
  }

  .custom-select-wrapper {
    margin: 20px 0;

    .select2.select2-container {
      width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  textarea {
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: $grey-color;
      font-family: 'Avenir-Italic';
    }
  }
}
